@{
    ViewData["Title"] = "Home Page";
}
<div class="card" ng-app="TableViewApp" ng-controller="TableViewController">
    <div class="card-header">
        <span class="btn btn-sm btn-primary" ng-if="editorIsVisible==false" ng-click="showEditor()">
            добавить
        </span>
    </div>
    <div class="card-body"  >
       {{editorIsVisible}}
        <div ng-if="editorIsVisible==true" class="card">
            <div class="card-header">
                Новый элемент
            </div>
            <div class="card-body">
              <div class="form-inline">
                  <div class="form-group" >
                    <label for="x">x</label>
                    <input type="number" class="form-control" ng-model="$parent.point.x" id="x" aria-describedby="x" >
                    <small class="form-text text-muted" hidden>We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="Y">Y</label>
                    <input type="number" class="form-control" ng-model="$parent.point.y" id="y" aria-describedby="y" >
                    <small class="form-text text-muted" hidden>We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="r">r</label>
                    <input type="number" class="form-control" ng-model="$parent.point.r" id="r" aria-describedby="r" >
                    <small class="form-text text-muted" hidden>We'll never share your email with anyone else.</small>
                  </div>    
                  <div class="form-group">
                    <label for="color">color</label>
                    <input type="color" class="form-control" ng-model="$parent.point.color" id="color" aria-describedby="color" >
                    <small class="form-text text-muted" hidden>We'll never share your email with anyone else.</small>
                  </div>   
              </div>
              <div class="form-group" style="padding: 10px;">
                <span class="btn btn-sm btn-primary" ng-click="createPoint($parent.point)">сохранить</span>
                <span class="btn btn-sm btn-primary" ng-click="$parent.editorIsVisible=false">отмена</span>
              </div>   
            </div>
            
        </div>
        <div class="container-fluid">
            <div class="row">
                
             
                <div class="col-9">
                    <div class="container-fluid" style="width: 100%;">
                        <table class="table w-100"  ng-if="editorIsVisible==false" >
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">id</th>
                              <th scope="col">x</th>
                              <th scope="col">y</th>
                              <th scope="col">r</th>
                              <th scope="col">color</th>
                              <th scope="col">actions</th>
                            </tr>
                          </thead>
                          <tbody>
                             <tr ng-repeat="point in points" ng-click="selectPoint(point)" 
                                 class="{{selected==point? 'bg-info':''}}" >
                                 <th scope="row">{{$index}}</th>
                                 <th scope="row">{{point.id}}</th>
                                 <th scope="row">{{point.x}}</th>
                                 <th scope="row">{{point.y}}</th>
                                 <th scope="row">{{point.r}}</th>
                                 <th scope="row">{{point.color}}</th>
                                 <th scope="row" onclick="event.preventDefault(); event.stopPropagation();">                               
                                     <span class="btn btn-sm btn-primary"                                        
                                           ng-click="$parent.deletePoint(point.id)">
                                           delete
                                     </span>                                 
                                 </th>
       
                             </tr>
                          </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-3 card" ng-if="selected" >
                    <div class="card-header">
                        <div class="text-center">Комментарии</div>
                        <div style="padding: 10px;">
                            <span class="btn btn-sm btn-primary" ng-click="addComment(selected, 'Новый комментарий')" >добавить</span>
                        </div>
                    </div>
                    
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="comment in selected.comments">
                            <div class="d-flex flex-row flex-nowrap w-100">
                                <div style="width: 100%;" contenteditable ng-change="updateCommentMessage()">{{comment.message}}</div>
                                <div class="btn btn-sm btn-info">del</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


 
<script src="~/lib/kendo/angular.min.js"></script>
 